<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
  
    <parameter name="env" value="${}"></parameter>

  <classes>
<!--   <class name="Testing.RestAssured.HemiPatientSearch_PartyID"/> -->
  <class name="dmr_testing.CRP_Testing"> </class>
  
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
